html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
    user-select: none;
    overflow-x: hidden;
}

h1 {
    font-size: xx-large;
    color: #00586f;
}

h2 {
    font-size: x-large;
    color: #00586f;
}

span {
    font-size: large;
    color: #2b3113;
}

p {
    font-size: medium;
    color: #2b3113;
}

a {
    color: whitesmoke;
    font-size: medium;
    text-decoration: none;
}

li {
    list-style-type: none;
}